body{
    background-color: rgb(26, 23, 72);
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}
#jeu{
    margin-top:4vh;
    position:absolute;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%, 0%);
}
canvas{
    margin: 0 auto;
    width:100vh;
    height:90vh;
}
#coordonnees_lettre{
    display:flex;
    align-items: center;
    height:30px;
    justify-content: space-around;
}
#coordonnees_lettre p{
    font-size: 1.5em;
}
#coordonnees_chiffre{
    position:absolute;
    top :0;
    left: -30px;
    align-items: center;
    height:1.5em;  
    display: flex;
    flex-direction: column-reverse;
    height:90vh;
    width:1.5em;
    justify-content:space-around;
}
#coordonnees_chiffre p{
    font-size: 1.5em;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

#tour{
    /* met en gras le tour du joueur à droite au milieu */
    font-weight: bold;
    position:absolute;
    top: 50%;
    right: 10%;
    transform: translate(0, -50%);
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}
